


body{
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;

}

.background{

	position: absolute;
	height: 100%;
	width: 100%;
	
	background-color: #ececec;
}

.body-wrapper{
	
	width: 80%;
	min-width: 380px;
	max-width: 800px;
	margin: 50px 10%;
	background-color: #FFFFFF;
	
}

.header-wrapper{
	
	height: 40px;
	padding: 10px;
	background-color: #2db522;

	
}

.header-text{
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	font-family: 'Kaushan Script', cursive;
	
}

.search-wrapper{
	
	height: 20px;
	border: 5px solid #2db522;
	border-bottom: none;
	border-top: none;
	padding: 10px;
	
}

.search{
	
	font-size: 18px;
	text-align: center;
	
}

.create{
	
	margin-top: 10px;
	width: 40%;
	height: 25px;
	margin: 10px 30%;

	background-color: #2db522;
	
}

#create-button{
	
	width: 100%
}

#search-box{
	
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	
	height: 18px;
	font-size: 16px;

	
}

.stream-wrapper{
	
	border: 5px solid #2db522;
	border-bottom: none;
	border-top: none;
	min-height: 400px;


}

.footer-wrapper{
	height: 20px;
		background-color: #2db522;

}


