


body{
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;

}

.background{

	position: absolute;
	height: 100%;
	width: 100%;
	
	background-color: #ececec;
	background-image: -webkit-gradient(radial, 50% 100%,100,50% -50%,100, from(rgb(218, 218, 218)), to(rgb(255, 255, 255)));
	background-image: -webkit-radial-gradient(50% 0%, rgb(255, 255, 255), rgb(218, 218, 218));
	background-image: -moz-radial-gradient(50% 0%, rgb(255, 255, 255), rgb(218, 218, 218));
	background-image: radial-gradient(50% 0%, rgb(255, 255, 255), rgb(218, 218, 218));

}

.body-wrapper{
	
	width: 80%;
	max-width: 800px;
	margin: 50px 10%;
	
}

.header-wrapper{
	
	height: 40px;
	padding: 10px;
	background-color: #2db522;

	
}

.header-text{
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	font-family: 'Kaushan Script', cursive;
	
}

.stream-wrapper{
	
		border: 5px solid #2db522;
		border-bottom: none;
		border-top: none;
		min-height: 500px;


}



