
body{
	margin: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #646464;
}

.background{

	position: absolute;
	height: 100%;
	width: 100%;
	
	background-color: #ececec;
}

.body-wrapper{
	
	width: 80%;
	min-width: 380px;
	max-width: 800px;
	margin: 50px auto;
	background-color: #FFFFFF;
	
	
}

/* Header */

.header-wrapper{
	
	height: 40px;
	padding: 10px;
	background-color: #2db522;

}

.header-text{
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	font-family: 'Kaushan Script', cursive;
	
}

/* Event Stream */

.stream-wrapper{
	
	border: 5px solid #2db522;
	border-bottom: none;
	border-top: none;
	min-height: 400px;


}


/* Footer */

.footer-wrapper{
	height: 20px;
	background-color: #2db522;

}

/* Custom IU Elements */

.button{
	
	background-color: #2db522;
	border: none;
	color: white;
	height: 25px;
	font-size: 14px;
	
}

.button:hover{
	
	background-color: #25951d;
	cursor: hand;

	
}




#loginform{

	width: 300px;
	margin: 0px auto;
	padding-top: 100px;

}

.login-field{

	border: none;
	outline: none;
	background-color: #DDDDDD;
	width: 300px;
	height: 25px;
	margin-bottom: 10px;
	font-size: 18px;
	text-align: center;;

}

.login-button{

	width: 300px;
	
}